		.all {
			display: grid;
			width: 45vw;
			margin-left: auto;
			margin-right: auto;
			grid-gap: 1vh;
		}
		a {
			color: white;
			text-decoration: none;
		}

		header {
			display: grid;
			grid-template-columns: 0.75fr 1.5fr 1.5fr 0.5fr ;
			padding: 1vh;
			background-color:#63BDED;
			width: 40vw;
			margin-left: auto;
			margin-right: auto;
			height: 1.9vw; 
			grid-gap: 1vh;
			color: white;
		}

		.head_container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 5vw;
			text-align: center;
		}

		.head_container_win {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.head_item {
			vertical-align: middle;
			font-family: Helvetica;
			font-size: 1.5vw;
		}

		.head_item_win {
			vertical-align: middle;
			font-family: Helvetica;
			font-size: 1.5vw;
			text-align: center;
		}

		.plus, .plus_win {
			background-color: #6AF95B;
			border:2px solid #5EE250;
			width: 1.5vw;
		}

		.plus:hover, .plus_win:hover {
			background-color: #6ACA60;
			border:2px solid #51B846;
		}

		.size {
			background-color: #A2A2A2;
			border: 2px solid #939393;
			width: 5vw;
		}

		.size_win {
			background-color: #A2A2A2;
			border: 2px solid #939393;
			width: 2vw;
		}

		.minus, .minus_win {
			background-color: #F95B62;
			border:2px solid #FF454D;
			width: 1.5vw;
		}


		.minus:hover, .minus_win:hover {
			background-color: #D63D44;
			border:2px solid #BA4248;
			width: 1.5vw;
		}


		article {
			display: grid;
			/*grid-gap: 0.3vw;*/
			width: 45vw;
			align-self: center;
			margin-left: auto;
			margin-right: auto;
		}
		.box {
			background-color:#63BDED;
			width: auto;
			text-align: center;
		} 

		.box:hover {
			background-color: #8FD7FD;
		}

		.valnum {
			font-size: 10px;
		}

		.win {
			text-align: left;
		}