body {
	--basik-color:#63BDED;	/*63BDED   5FDD77*/
	--hover-color:#7CCAF3;	/*7CCAF3   7BE48F*/
	--seconds-color:#3B3B3B; /*6BC2F1   6EDE83*/
}

* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	background-color:var(--hover-color, #7CCAF3);
}

.all {
	width: 80vh;
	margin: auto;
	display: grid;
	grid-gap: 4vh;
}

header {
	display: flex;
	justify-content: space-between;
 	background-color:var(--basik-color, #63BDED);
 	width: 80vh;
 	margin: auto;
 	padding:2vh;
 	border-radius: 5% 5% 0% 0%;
}

header * {
	border-radius: 5%;
}

img {
	width: 3.5vh;
	margin: 0;
}

.xo_text {
	text-align: center;
	font-family: Helvetica;
	font-size: 3vh;
	color: white;
}

article {
	display: grid;
	grid-template-rows: repeat 1.2fr 1fr 1fr 1fr;
	grid-gap: 3vh;
}

article * {
	padding: 2vh;
	background-color:var(--basik-color, #63BDED);
	color: #fff;
	text-align: center;
	font-family: Helvetica;
	font-size: 3vh;
	color: white;
}

.castomizable_game {
	display: grid;
	grid-template-columns: 1.2fr 0.2fr 1.2fr;
	grid-template-rows: 0.2fr 1fr;
	background-color:#fff;
 	padding: 0px;
}

.castomizable_game * {
	background-color:var(--basik-color, #63BDED);
	font-size: 2vh;
}

.mode_game {
	grid-column: 1/4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 26vh;
	padding: 0px;
}

.mode_game * {
	padding: 0.5vh;
	font-size: 1.5vh;
	background-color:var(--seconds-color, #6BC2F1);
	border: 0.3vh solid var(--basik-color, #63BDED);
}

.field_size {
	display: grid;
	grid-template-columns: 7fr 1fr 1fr 1fr;
}

.field_size * {
	background-color: var(--seconds-color, #6BC2F1);
}

.play {
	padding: 4vh;
}

.win_combination_num {
	display: grid;
	grid-template-columns: 7fr 1fr 1fr 1fr;
}

.win_combination_num * {
	background-color: var(--seconds-color, #6BC2F1);
}