body {
	--basik-color:#63BDED;
	--hover-color:#7CCAF3;
}

* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

header a:hover {
	background-color: var(--hover-color, #7CCAF3);
}

.all {
	width: 80vh;
	margin: auto;
	display: grid;
	grid-gap: 2vh;
}

header {
	display: flex;
	justify-content: space-between;
 	background-color: var(--basik-color, #63BDED);
 	width: 80vh;
 	margin: auto;
 	padding:2vh;
 	border-radius: 5% 5% 0% 0%;
}

header * {
	border-radius: 5%;
}

img {
	width: 3.5vh;
	margin: 0;
}

.xo_text{
	text-align: center;
	font-family: Helvetica;
	font-size: 3vh;
	color: white;
}

.theme_setings {
	display: flex;
	background-color: var(--basik-color, #63BDED);;
	padding: 2vh;
}

.theme_setings a:hover {
	border: 0.5vh solid #7CCAF3;
}

.theme_setings_text {
	text-align: right;
	font-family: Helvetica;
	font-size: 3vh;
	color: white;
	margin-right: 3vh;
}

.theme_option {
	width: 2.5vh;
	height: 2.5vh;
}